.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {

  margin-left: 10px;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 11px;
  padding: 7px 9px;
  text-transform: uppercase;
  cursor: pointer;

}

.right-nav > ul > li {
  margin-left: 5px;
	cursor: pointer;
}

.right-nav > ul > li:last-of-type {
  position: relative;
	padding: 7px 9px;
	transition: background-color 0.1s;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;

}

.left-nav span {
  margin-left: 5px;
}


.right-nav i {
  font-size: 20px;
}
