.sections-nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $light-gray;
}

.sections-nav ul {
  display: flex;
  padding: 10px 0;
}

.sections-nav li {
  margin: 0 15px;
  font-family: $sans-serif;
  cursor: pointer;
}

.sections-nav li:hover:not(:last-child) {
  background-color: $light-gray;
}
